.card11{

    float: left;
    background-color: rgb(127, 245, 245);
    height: 100%;
    width: 150px;

    text-align:justify;
}

.par{
    margin: auto;
    width: 700px;
    height: 210px;
background-color: rgb(90, 145, 247);
}
.pp{
padding: 20px;

}
.clr{

    clear: both;
}
.pri{
    width: 100px;
    height: 50px;
    /* background-color: rgb(148, 175, 226); */
    position:absolute; 
    right: 500px;
}

.tit{
padding-left: 50px;
text-align: center;
width: 300px;
}